<div class="row">
    <div class="span8">
        <% if flash[:info] %>
            <div class="alert alert-info">
                <p><%= flash[:info] %></p>
            </div>
        <% end %>
        <h2>Tracks</h2>
    </div>
</div>
<div class="row">
    <div class="span8">
        <% if @tracks.size <= 0 %>
            <p>There are currently no tracks added.</p>
        <% end %>
        <ul>
        <% @tracks.each do |track| %>
            <li><a href="/<%= track.id %>"><%= track.title %></a> by <%= track.artist %></li>
        <% end %>
        </ul>
    </div>
</div>