<!DOCTYPE html>
<html lang="en">
    <head profile="http://w3.org/2005/10/profile">
        <title><%= @title || 'Page' %> &mdash; Octavia</title>
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap-responsive.min.css" />
        
        <script type="application/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="application/javascript" src="/js/bootstrap.min.js"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
        <% if @track %>
          <link rel="image_src" href="<%= @track.artwork or "/img/artwork_missing.png" %>" />
        <% end %>
    </head>
    <body>
        <div class="container">
            <%= yield %>
        </div>
        <div style="float: right;">
            <a href="/new"><img src="/img/octavia_vinyl.png" style="float: right; width: 60%; height: 60%;" /></a>
        </div>
    </body>
</html>
